@import "vars";

.upload-area {
  text-align: center;
  color: $ze-blue;
  margin: 24px auto;
  box-sizing: border-box;
  border-radius: 5px;
  border: dashed 1px $ze-blue;
  width: 100%;
  min-height: 160px;
  display: flex;
  align-items: center;

  input[type=file] {
    display: none;
  }
  label {
    cursor: pointer;
  }
  mat-icon {
    display: block;
    margin: 0 auto;
    padding-bottom: 13px;
    cursor: pointer;
  }
}

.preview-area {
  position: relative;
  width: 120px;
  border-radius: 5px;
  overflow: hidden;
  margin: 24px 0px;
  height: 173.95px;
  img {
    max-width: 100%;
  }
  .dim {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,0.5);
    button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      color: #ffffff;
    }
  }
}
