<div class="" fxFlexFill fxLayout="column" [ngClass]="this.customClass? this.customClass: ''">
  <input hidden="hidden" id="upload-image" #file type="file" accept="image/*" (change)="preview(file.files)" [formControl]="this.formControl"/>
  <div class="upload-area" *ngIf="!this.imgUrl">
    <label fxLayout="column" fxLayoutAlign="space-between center" fxFlexFill for="upload-image">
      <mat-icon>add</mat-icon>
      <span [innerHTML]="formLabel"></span>
    </label>
  </div>
  <div class="preview-area" *ngIf="this.imgUrl">
    <img [src]="imgUrl">
    <div class="dim">
      <button type="button" mat-icon-button class="remove-btn" (click)="clear()">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </div>
  </div>
</div>
