/*
  figma 0.8L Default Color Palette
*/
$ze-black: #000000;
$ze-dark-gray: #141414;
$ze-gray: #5A5A5A;
$ze-light-gray: #AAABAF;
$ze-soft-gray: #DDDDDD;
$ze-white-gray: #F2F2F2;
$ze-snow-white: #F9F9F9;
$ze-white: #FFFFFF;
$ze-blue: #458EF6;
$ze-green: #24553F;
$ze-hotpink: #F1205F;
$ze-red: #FF3D3E;


$max-body-width: 600px;
$min-body-width: 280px;
