@import "vars";

html, body {
  height: 100%;
}

body {
  margin: 0 auto;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  max-width: $max-body-width;
  min-width: $min-body-width;
}

a, a:active, a:visited {
  color: $ze-black;
  text-decoration: none;
}

