<mat-toolbar *ngIf="this.visible">
  <button fxFlex="5" *ngIf="this.arrow.visible" mat-icon-button aria-label="뒤로가기" (click)="goBack()">
    <mat-icon>{{this.arrow.icon}}</mat-icon>
  </button>
  <span fxFlex class="title-area">{{this.title}}</span>
  <button fxFlex="5" *ngIf="this.closeBtn.visible" mat-icon-button aria-label="닫기" (click)="close()">
    <mat-icon>{{this.closeBtn.icon}}</mat-icon>
  </button>
</mat-toolbar>
