.title-area {
  text-align: center;
  flex: 1 1 auto;
  min-width: calc(100% - 80px);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.15px;
}
.mat-toolbar {
  background-color: #ffffff;
}
