<div class="terms-of-service" fxLayout="row" fxLayoutAlign="stretch">
  <mat-icon class="check-icon" fxFlex="7">check</mat-icon>
  <span fxFlex>{{title}}</span>
  <span class="more" fxFlex="15" (click)="openDialog(this.templateClassName);">자세히 보기</span>
</div>
