<form [formGroup]="this.userFormGroup">
  <div class="seller-info-area">
    <div class="title">판매자 정보</div>
    <div class="user-info">
      <ng-container>
        <mat-form-field appearance="standard" color="primary" fxFlexFill hideRequiredMarker>
          <mat-label>이메일 주소</mat-label>
          <input matInput placeholder="이메일 주소" autocomplete="username" formControlName="email" required>
          <mat-error *ngIf="email?.invalid && !email?.hasError('existEmail')">이메일 주소 형식이 올바르지 않습니다.</mat-error>
          <mat-error *ngIf="email?.invalid && email?.hasError('existEmail')">이미 등록된 이메일 주소입니다.</mat-error>
          <mat-hint class="ng-valid" *ngIf="email?.valid">사용 가능한 이메일 주소입니다.</mat-hint>

        </mat-form-field>
      </ng-container>
      <ng-container formGroupName="passwordGroup">
        <ng-container>
          <mat-form-field appearance="standard" color="primary" fxFlexFill hideRequiredMarker>
            <mat-label>비밀번호</mat-label>
            <input matInput type="password" autocomplete="new-password" placeholder="비밀번호" formControlName="password" required>
            <mat-error *ngIf="password?.invalid">8자리 이상, 영어+숫자 포함해서 입력해 주세요.</mat-error>
            <mat-hint class="ng-valid" *ngIf="password?.valid">사용 가능한 비밀번호 입니다.</mat-hint>
          </mat-form-field>
        </ng-container>

        <ng-container>
          <mat-form-field appearance="standard" color="primary" fxFlexFill hideRequiredMarker>
            <mat-label>비밀번호 확인</mat-label>
            <input matInput type="password" autocomplete="new-password" placeholder="비밀번호 확인" formControlName="passwordConfirm" required>
            <mat-error *ngIf="passwordConfirm?.invalid || passwordConfirm?.value === password?.value">비밀번호와 동일하게 입력해 주세요.</mat-error>
            <mat-hint class="ng-valid" *ngIf="passwordConfirm?.valid">비밀번호가 일치합니다.</mat-hint>
          </mat-form-field>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <div class="company-info-area">
    <div class="title">사업자 정보</div>
    <div class="company-info">
      <ng-container>
        <app-custom-file-upload [label]="['사업자등록증','등록하기']" (formChanged)="this.fileUploadCheck($event);"></app-custom-file-upload>
      </ng-container>

      <ng-container>
        <mat-form-field appearance="standard" color="primary" fxFlexFill hideRequiredMarker>
          <mat-label>사업자등록번호</mat-label>
          <input matInput type="text" placeholder="사업자등록번호" formControlName="tradersRegistration" required>
          <mat-error *ngIf="tradersRegistration?.invalid && !tradersRegistration?.hasError('existBusinessNumber')">숫자만 입력해 주세요.</mat-error>
          <mat-error *ngIf="tradersRegistration?.invalid && tradersRegistration?.hasError('existBusinessNumber')">이미 등록된 사업자 등록번호입니다.</mat-error>
        </mat-form-field>
      </ng-container>

      <ng-container>
        <mat-form-field appearance="standard" color="primary" fxFlexFill hideRequiredMarker>
          <mat-label>대표자명</mat-label>
          <input matInput type="text" placeholder="대표자명" formControlName="representativeName" required>
          <mat-error *ngIf="representativeName?.invalid">대표자명을 입력해 주세요.</mat-error>
        </mat-form-field>
      </ng-container>

      <ng-container>
        <mat-form-field appearance="standard" color="primary" fxFlexFill hideRequiredMarker>
          <mat-label>상호명</mat-label>
          <input matInput placeholder="상호명" formControlName="businessName" required>
          <mat-error *ngIf="businessName?.invalid">상호명을 입력해 주세요.</mat-error>
        </mat-form-field>
      </ng-container>

      <ng-container>
        <mat-form-field appearance="standard" color="primary" fxFlexFill hideRequiredMarker>
          <mat-label>카테고리(업종)</mat-label>
          <input type="text" class="auto-complete-find-text"
                 placeholder="카테고리(업종)"
                 aria-label="카테고리(업종)"
                 matInput
                 [formControl]="this.categoryForm"
                 [matAutocomplete]="auto" required>
          <mat-error *ngIf="this.categoryForm.invalid">카테고리를 선택해 주세요.</mat-error>
          <button matSuffix mat-icon-button aria-label="Clear" (click)="this.categoryForm.setValue('')">
            <mat-icon *ngIf="this.categoryForm.value" class="light-gray">close</mat-icon>
            <mat-icon *ngIf="!this.categoryForm.value">arrow_drop_down</mat-icon>
          </button>
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let category of filteredOptions$ | async" [value]="category.categoryName">
              {{category.categoryName}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </ng-container>
    </div>
  </div>

  <div class="terms-of-service-area">
    <div class="title">판매자 이용약관 동의</div>
    <app-terms-of-service *ngFor="let tos of this.tosArray; let i = index;" [title]="tos.title" [templateClassName]="tos.templateClassName" (agreeEvent)="agreeCheck($event, i);" [ngClass]="tos.agree? 'agree': ''"></app-terms-of-service>
  </div>
  <button class="round need-margin" mat-flat-button color="accent" fxFlexFill [disabled]="!(this.userFormGroup.valid && this.categoryForm.valid && this.fileUploaded && this.isTosAllChecked)">이용약관 동의 후 가입하기</button>
</form>
