@import "vars";

.title {
  font-size: 14px;
  line-height: 1.57;
  font-weight: 500;
  letter-spacing: -0.1px;
}

mat-hint.ng-valid {
  color: $ze-blue;
}

.seller-info-area, .company-info-area {
  padding-bottom: 40px;
}

.auto-complete-find-text {
  width: calc(100% - 44px);
}

mat-icon.light-gray {
  color: $ze-light-gray;
}

.terms-of-service-area {
  padding-bottom: 40px;
  .title {
    font-size: 16px;
    padding-bottom: 24px;
  }
}


app-terms-of-service {
  &.agree {
    color: $ze-blue;
  }
}
