.logo {
  text-align: center;
  img {
    margin: 15vh auto 20vh auto;
  }
}

.login-form {
  font-size: 16px;
  .mat-form-field-underline {
    background-color: #ebebeb;
  }
  &.login-btn-wrapper {
    margin: 20px auto;
  }
}

.link-area {
  text-align: center;
  font-size: 15px;
  padding: 24px 0px;
  a {
    display: inline-block;
    color: #aaabaf;
    margin-bottom: 24px;
    &:hover {
      color: #000000;
      text-decoration: underline;
    }
    &.black {
      color: #000000;
    }
    &.underline {
      text-decoration: underline;
    }
  }
}
