<p class="logo">
  <img src="../../../assets/images/common/logo.svg"/>
</p>
<form class="login-form">
  <div>
    <mat-form-field appearance="standard" color="accent" fxFlexFill hideRequiredMarker>
      <mat-label>이메일 주소</mat-label>
      <input matInput placeholder="이메일 주소" [formControl]="this.email" required autocomplete="username">
      <mat-error *ngIf="this.email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="standard" color="accent" fxFlexFill hideRequiredMarker>
      <mat-label>비밀번호</mat-label>
      <input matInput type="password" placeholder="비밀번호" [formControl]="this.password" required autocomplete="current-password">
      <mat-error *ngIf="this.password.invalid">{{getErrorPasswordMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <div class="login-form login-btn-wrapper">
    <button class="round" mat-flat-button color="accent" fxFlexFill [disabled]="!(this.email.valid && this.password.valid)" (click)="loginProcess()">판매자 로그인
    </button>
  </div>
</form>

<div class="link-area">
  <a routerLink="/find-password">비밀번호를 잊으셨나요?</a><br/>
  <a class="black underline" routerLink="/join">아직 회원이 아니신가요?</a>
</div>
