<div class="menu-item">
  <a routerLink="{{this.routerLink}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <mat-icon>{{this.svgIconName}}</mat-icon>
    <div>{{this.label}}</div>
  </a>
</div>
