<div *ngIf="this.visible" class="bottom-navigation" fxLayout="row"
     fxLayoutAlign="space-between center">
  <app-menu-item [svgIconName]="menu.icon" [label]="menu.label" [routerLink]="menu.routeLink"
                 *ngFor="let menu of this.menus" fxFlex fxFlexAlign="stretch">
  </app-menu-item>
</div>
